RewriteEngine On
RewriteBase /project/


Options -Indexes

# 2. Пропустить статические файлы (корень + админка)
RewriteRule ^(admin/)?(css|js|img)/ - [L,NC]

# 3. Пропустить реальные файлы (кроме PHP)
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} !\.php$ [NC]
RewriteRule ^ - [L]

# 4. Основное правило маршрутизации
RewriteRule ^(.*)$ index.php?request=$1 [QSA,L]